@import '../../node_modules/tailwindcss';
@import '@navikt/ds-css';

[data-theme="novari"]{
    /* Color Palette */
    --orange-dark: #a61d08;
    --orange-primary: #f76650;
    --orange-80: #fb9582;
    --orange-60: #fdc3b4;
    --orange-40: #ffe0d5;
    --orange-20: #feeae7;

    --red-dark: #570f31;
    --red-primary: #6b133d;
    --red-80: #8c3e62;
    --red-60: #ad697f;
    --red-40: #cf93a3;
    --red-20: #ebc1c9;

    --blue-dark: #5a51e1;
    --blue-primary: #7f78e8;
    --blue-80: #a19cf0;
    --blue-60: #c3bef7;
    --blue-40: #ccc9f6;
    --blue-20: #e5e4fa;

    --beige-darker: #d4b89a;
    --beige-dark: #efd8b8;
    --beige-primary: #f8ecdc;
    --beige-80: #faf1e5;
    --beige-60: #fcf5ed;
    --beige-40: #fdf9f5;
    --beige-20: #fefcfa;

    /* Aksel design token overrides */
    --a-bg-default: #fefcfa;
    --a-bg-subtle: #fcf5ed;

    --a-surface-action: var(--a-surface-alt-3-strong);
    --a-surface-action-hover: #5149ca;
    --a-surface-action-active: var(--a-surface-alt-3-strong);
    --a-surface-action-selected: var(--a-surface-alt-3-strong);
    --a-surface-action-subtle-hover: var(--a-surface-alt-3-subtle);
    --a-surface-action-selected-hover: #5149ca;
    --a-surface-default: var(--a-bg-default);
    --a-surface-hover: #e5e4fa;

    --a-text-action-selected: var(--a-surface-alt-3-strong);
    --a-text-on-action: #ffffff;
    --a-text-action: var(--a-surface-alt-3-strong);
    --a-text-action-hover: var(--a-surface-alt-3-strong);
    --a-text-action-on-action-subtle: var(--a-surface-alt-3-strong);

    --a-border-action: var(--a-surface-alt-3-strong);
    --a-border-action-hover: var(--a-surface-alt-3-strong);
    --a-border-action-selected: var(--a-surface-alt-3-strong);
    --a-border-focus: var(--a-surface-alt-3-strong);

    --a-surface-alt-3-strong: #5a51e1;
    --a-surface-alt-3-subtle: #e5e4fa;
    --a-surface-alt-3-moderate: #6b133d;

    /* Component level overrides */
    --ac-table-row-selected: var(--a-surface-alt-3-subtle);
    --ac-internalheader-bg: var(--a-bg-subtle);
    --ac-internalheader-divider: none;
    --ac-internalheader-text: var(--a-text-default);
    --ac-internalheader-hover-bg: var(--beige-dark);
    --ac-internalheader-hover-text: var(--beige-dark);
}

@theme {
    --font-sans:
        'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
    @apply bg-white;
    /*
    @apply bg-white dark:bg-gray-950;
    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
    */
}

/*.novari-header {
    h1 {
        color: var(--red-primary);
    }
}*/

.novari-footer {
    background: #6b133d;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-sans text-gray-900 dark:text-gray-100;
    color: var(--red-primary);
}
