.flow-page {
    width: 99vw;
    flex-direction: row;
    display: flex;
    flex-grow: 1;
    height: 93vh;

    &.runnable {
        height: 90vh;
    }

    .reactflow-wrapper {
        flex-grow: 1;
    }
}
