/* === OVERRIDES === */

body {
    --xy-background-color: #f7f9fb;
    /* Built-in Variables see https://reactflow.dev/learn/customization/theming */
    --xy-node-border-default: 1px solid #ededed;
    --xy-node-boxshadow-default:
        0px 3.54px 4.55px 0px #00000005, 0px 3.54px 4.55px 0px #0000000d,
        0px 0.51px 1.01px 0px #0000001a;
    --xy-node-border-radius-default: 8px;
    --xy-handle-background-color-default: #ffffff;
    --xy-handle-border-color-default: #aaaaaa;
    --xy-edge-label-color-default: #505050;

    /* Custom Variables */
    --xy-theme-selected: #f57dbd;
    --xy-theme-hover: #c5c5c5;
    --xy-theme-edge-hover: black;
    --xy-theme-color-focus: #e8e8e8;

    /* Colors */
    --theme-node-blue: #c1e9ff;
    --theme-node-lightblue: #ecf8ff;
    --theme-node-red: #ffa89b;
    --theme-node-lightred: #ffe4df;

    --theme-node-gray: var(--a-surface-subtle);
    --theme-node-green: #aee8bc;
    --theme-node-beige: #ffe6c1;
    --theme-node-input-selected: var(--a-data-surface-5);
    --theme-node-border: #c5c5c5;

    /* Node border */
    --theme-node-border-default: 1px solid #a5a5a5;
}

.react-flow__resize-control.handle {
    background-color: #ffffff;
    border-color: #9e86ed;
    border-radius: 0;
    width: 5px;
    height: 5px;
}
